SetList{
 background-color: #EDF5EI;
  width: 100%;
}
Performer {
   display: block;
   margin: 10 10 10 10;
   background-color: #8EE4AF;

}

Artist {
  display: block;
  color: #05386B;
  font-size: 20px;
}

Title {
    display: block;
    color:#05386B;
    font-size: 20px;
}

Genre, Year {
    display: block;
    color: #379683;
    font-size: 15px;
}

